.box01 {
  background: rgba(111, 69, 28, 0.1);
  margin: 20px auto;
  padding: 10px;
  border-radius: 3px;
}

.box02 {
  background: rgba(111, 69, 28, 0.4);
  margin: 20px auto;
  padding: 10px;
  color: white;
  border-radius: 3px;
}

.box03 {
  background: white;
  margin: 20px auto;
  padding: 10px;
  border-radius: 3px;
}

.box04 {
  background: #dc3a4d;
  margin: 20px auto;
  padding: 10px;
  color: white;
  border-radius: 3px;
}

.box05 {
  background: #166e9b;
  margin: 20px auto;
  padding: 10px;
  color: white;
  border-radius: 3px;
}

.box02 a,
.box04 a,
.box05 a {
  color: white;
}
