#header
{
  background: #fefefd;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);

  padding: 0px;
  margin: 0;
  width: 100%;

  position: relative;
  z-index: 10;
  height: 100px;

  font-family: 'proxima-regular';
  font-size: 1.3em;

  .region-header
  {
    @extend .clearfix;
  }

  .bloc-logo
  {
    float: left;
  }

  #block-system-main-menu
  {
    float: right;
    display: flex;
    height: 100%;

    ul.menu
    {
      margin: 0;

      li
      {
        padding: 0;
        margin: 0;
      }

      .leaf
      {
        display: inline-block;

        a
        {
          display: inline-block;
          padding: 40px 32px 40px 8px;

          font-family: proxima-light;
          color: #877b7d;
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;

          &.active-trail
          {
            &::before
            {
              border-width: 4px;
            }

            &,
            &:hover
            {
              border-bottom: 4px solid #dc3a4d;
            }
          }

          &::before
          {
            content: '';
            display: inline-block;
            background: transparent;
            border: 2px solid #dc3a4d;
            border-radius: 50px;
            width: 11px;
            height: 11px;
            position: relative;
            top: 0px;
            left: -8px;
            box-sizing: border-box;
            transition: all 250ms ease;
          }
        }

        &.last
        {
          a
          {
            color: white;
            background: #dc3a4d;

            padding: 40px 64px 40px 32px;

            &::before
            {
              content: none;
            }

            &::after
            {
              content: '';

              display: inline-block;
              padding: 10px;
              border: 2px solid white;
              border-radius: 50px;
              width: 12px;
              height: 12px;

              background: url(../img/header/coeur.png) no-repeat center;
              background-size: 70%;

              position: absolute;
              top: 30px;
              right: 16px;

              transition: all 250ms ease;
            }
          }
        }
      }
    }
  }

  .logo a
  {
    display: block;
    width: 95px;
    height: 100px;

    background: url(../img/header/logo.png) no-repeat left center;
    background-size: contain;
    margin: 0 0 0 30px;

    text-indent: -70000px;
  }
}

.mobile #header #block-system-main-menu
{
  display: none;
}

#block-menu-menu-mobile-navigation {
  display: none;
}

#header div.menu .contextual-links-wrapper {
  display: none;
}
