.node-page {
  margin: auto;
  max-width: 870px;
  width: 85%;
  font-size: 16px;
}

.node-page #block-addthis-addthis-block {
  max-width: 870px;
}

.node-page p {
  margin: 10px 0;
}

.node-page img {
  display: block;
  margin: 15px auto;
  text-align: center;
  max-width: 870px;
}
