.page-soutenir-le-televie #block-addthis-addthis-block {
  display: none;
}

.page-soutenir-le-televie #block-system-main .content>.view.view-facons-d-aider {
  height: 3023px;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header {
  position: relative;
  background: url(../img/soutenir/bg01.jpg) bottom no-repeat fixed;
  background-size: cover;
  height: 800px;
  text-align: center;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header .soutenir-header-content-wrapper {
  width: 100%;
  position: relative;
  height: 100%;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header .soutenir-header-content-wrapper .soutenir-header-content {
  width: 60%;
  float: right;
  font-size: 42px;
  font-family: 'proxima-excn-semibold';
  margin-top: 10%;
  text-align: left;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header .soutenir-header-content strong {
  font-family: 'proxima-excn-bold';
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header .wrapper {
  position: relative;
  height: 100%;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header .scrollto {
  background: rgba(250, 250, 250, 0) none repeat scroll 0% 0%;
  position: absolute;
  left: 50%;
  height: 60px;
  width: 60px;
  bottom: 70px;
  margin: auto;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header .scrollto a {
  display: block;
  width: 45px;
  height: 45px;

  border: 3px solid #ffffff;
  border-radius: 100px;

  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'symbolesnrbregular';
  line-height: 53px;
  text-align: center;

  transform: rotate(90deg);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-header .scrollto a:hover {
  background: rgba(255, 255, 255, .4);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider #soutenir-block-1 {
  position: relative;
  top: -50px;
  padding: 50px 0px 100px;
  background: url(../img/soutenir/bg02.jpg) bottom no-repeat;
  background-size: cover;
  -moz-transform: skewX(0deg) skewY(-2deg);
  -webkit-transform: skewX(0deg) skewY(-2deg);
  -o-transform: skewX(0deg) skewY(-2deg);
  -ms-transform: skewX(0deg) skewY(-2deg);
  transform: skewX(0deg) skewY(-2deg);
  -webkit-box-shadow: inset 0 3px 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider #soutenir-block-1 #soutenir-block-1-wrapper {
  text-align: center;
  width: 100%;
  max-width: 870px;
  margin: 50px auto;
  -moz-transform: skewX(0deg) skewY(2deg);
  -webkit-transform: skewX(0deg) skewY(2deg);
  -o-transform: skewX(0deg) skewY(2deg);
  -ms-transform: skewX(0deg) skewY(2deg);
  transform: skewX(0deg) skewY(2deg);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-footer {
  background: #f1f0ef;
  position: relative;
  top: -80px;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider.view-display-id-block_2 {
  position: relative;
  top: -50px;
  background: url(../img/soutenir/bg03.png);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider.view-display-id-block_2>.view-content {
  width: 100%;
  max-width: 870px;
  margin: auto;
  padding: 60px 0px 100px;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider.view-display-id-block_3 {
  position: relative;
  top: -100px;
  background: #f9fafa;
  -moz-transform: skewX(0deg) skewY(2deg);
  -webkit-transform: skewX(0deg) skewY(2deg);
  -o-transform: skewX(0deg) skewY(2deg);
  -ms-transform: skewX(0deg) skewY(2deg);
  transform: skewX(0deg) skewY(2deg);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider.view-display-id-block_3>.view-content {
  width: 100%;
  max-width: 870px;
  margin: auto;
  padding: 60px 0px 100px;
  -moz-transform: skewX(0deg) skewY(-2deg);
  -webkit-transform: skewX(0deg) skewY(-2deg);
  -o-transform: skewX(0deg) skewY(-2deg);
  -ms-transform: skewX(0deg) skewY(-2deg);
  transform: skewX(0deg) skewY(-2deg);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .soutenir-le-televie-block-last {
  position: relative;
  top: -150px;
  background: url(../img/soutenir/bg05.jpg) no-repeat fixed -200px bottom;
  background-size: cover;
  height: 725px;
  -moz-transform: skewX(0deg) skewY(-2deg);
  -webkit-transform: skewX(0deg) skewY(-2deg);
  -o-transform: skewX(0deg) skewY(-2deg);
  -ms-transform: skewX(0deg) skewY(-2deg);
  transform: skewX(0deg) skewY(-2deg);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .soutenir-le-televie-block-last .soutenir-le-televie-block-last-wrapper {
  width: 100%;
  max-width: 870px;
  margin: auto;
  padding: 80px 0;
  text-align: right;
  -moz-transform: skewX(0deg) skewY(2deg);
  -webkit-transform: skewX(0deg) skewY(2deg);
  -o-transform: skewX(0deg) skewY(2deg);
  -ms-transform: skewX(0deg) skewY(2deg);
  transform: skewX(0deg) skewY(2deg);
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row {
  display: inline-block;
  width: 49%;
  max-width: 250px;
  margin: 0 10%;
  text-align: center;
  vertical-align: top;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider.view-display-id-block_2 .views-row {
  display: inline-block;
  width: 22%;
  max-width: 250px;
  margin: 0 5%;
  text-align: center;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider span {
  display: block;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider a {
  display: block;
  width: 100%;
  margin: auto;
  text-decoration: none;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a .visu {
  background: transparent;
  width: 170px;
  height: 170px;
  overflow: hidden;
  margin: auto;
  border: 2px solid #dc3a4d;
  border-radius: 100px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider #soutenir-block-1 .views-row a .visu {
  border: 2px solid white;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a:hover .visu {
  background: #dc3a4d;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider #soutenir-block-1 .views-row a:hover .visu {
  background: white;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a .visu .field-content {
  background: #dc3a4d;
  border-radius: 100px;
  width: 145px;
  height: 145px;
  position: relative;
  top: 14px;
  left: 13px;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider #soutenir-block-1 .views-row a .visu .field-content {
  background: white;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a .visu .field-content img {
  padding: 26px 0 0 0;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a .title {
  font-size: 2em;
  font-family: 'proxima-excn-bold';
  margin: 20px 0;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a .desc {
  font-size: 1.2em;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider #soutenir-block-1 a {
  color: white;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a .link .field-content {
  font-size: 1.8em;
  font-family: 'proxima-excn-light';
  display: inline-block;
  text-transform: uppercase;
  width: 91%;
  border-radius: 6px;
  margin: 20px auto;
  text-align: left;
  position: relative;
  padding: 15px 15px;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .views-row a .link .field-content:after {
  content: '>';
  position: absolute;
  right: 15px;
  top: 8px;
  font-family: 'symbolesnrbregular';
  line-height: 52px;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider #soutenir-block-1 .link .field-content {
  background: #902946;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-display-id-block_2 a .link .field-content {
  background: white;
  color: #dc3a4d;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .view-display-id-block_3 a .link .field-content {
  background: #dc3a4d;
  color: white;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .soutenir-le-televie-block-last {
  font-size: 5em;
  font-family: 'proxima-excn-semibold';
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .soutenir-le-televie-block-last .soutenir-le-televie-block-last-01 {
  color: #dc3a4d;
  display: block;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .soutenir-le-televie-block-last .soutenir-le-televie-block-last-02 {
  display: inline;
  color: #dc3a4d;
}

.page-soutenir-le-televie #block-system-main .view-facons-d-aider .soutenir-le-televie-block-last .soutenir-le-televie-block-last-03 {
  display: inline;
  color: #dc3a4d;
}
