.soiree
{
  // Cleanup of global code
  .basic-page
  {
    display: none;

    &::before,
    &::after
    {
      content: none;
    }
  }

  .node-page
  {
    max-width: none;
    width: auto;

    &::before,
    &::after
    {
      content: none;
    }
  }

  .block-system *
  {
    box-sizing: border-box;
  }

  a
  {
    color: inherit;
    text-decoration: none;
  }

  .section__inner
  {
    position: relative;

    max-width: 960px;
    width: 90%;
    margin: auto;

    text-align: center;

    h1
    {
      font-size: 60px;
      font-family: "proxima-excn-light";
      color: currentColor;

      margin-bottom: 70px 0 10px 0;

      strong
      {
        font-family: "proxima-excn-semibold";
      }
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Components
  //
  /////////////////////////////////////////////////////
  .options
  {
    display: flex;
    justify-content: space-between;

    @media (max-width: 525px)
    {
      flex-direction: column;
    }

    .item
    {
      display: block;
      position: relative;

      .circle
      {
        position: relative;

        display: block;
        width: 170px;
        height: 170px;
        margin: auto;

        background: transparent;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 2px currentColor;

        // background
        &::before
        {
          content: "";

          position: absolute;
          top: 10px;
          left: 10px;

          width: calc(100% - 20px);
          height: calc(100% - 20px);

          background: currentColor;
          border-radius: 100%;
        }

        img
        {
          position: relative;
          top: 25%;

          width: 50%;
          height: 50%;
        }

        @media (max-width: 885px)
        {
          width: 135px;
          height: 135px;
        }

        @media (max-width: 525px)
        {
          width: 100px;
          height: 100px;
        }

        &.-s
        {
          width: 135px;
          height: 135px;

          @media (max-width: 885px)
          {
            width: 100px;
            height: 100px;
          }

          @media (max-width: 525px)
          {
            width: 80px;
            height: 80px;
          }
        }

        &.-l
        {
          width: 210px;
          height: 210px;

          @media (max-width: 885px)
          {
            width: 170px;
            height: 170px;
          }

          @media (max-width: 525px)
          {
            width: 135px;
            height: 135px;
          }
        }
      }
    }
  }


  /////////////////////////////////////////////////////
  //
  //       Compteur
  //
  /////////////////////////////////////////////////////
  .block-compteur
  {
    position: absolute;
    z-index: 4;
    top: 22vh;

    width: 100%;

    @media (max-width: 525px)
    {
      top: 25vh;
    }

    .compteur__inner
    {
      display: flex;

      width: 90%;
      max-width: 870px;
      height: 110px;
      margin: auto;
      padding: 15px 30px;

      background: #bc3146;
      border-radius: 8px;

      color: #ffffff;
      font-size: 90px;
      font-family: graduateregular;
      text-align: center;

      @media (max-width: 885px)
      {
        height: 70px;
        padding: 15px 20px;

        font-size: 55px;
        line-height: 70px;

        .figure
        {
          margin-right: 5px;
        }
      }

      @media (max-width: 525px)
      {
        height: 40px;
        padding: 15px;

        font-size: 25px;
        line-height: 45px;

        .figure
        {
          margin-right: 2px;
        }
      }
    }
  }


  .separator
  {
    display: block;
    width: 20px;
  }

  .figure
  {
    position: relative;

    display: block;
    height: 100%;
    flex-grow: 1;

    margin-right: 10px;

    border: 2px solid #ac2b3c;

    &.-mr-none
    {
      margin-right: 0 !important;
    }

    >span
    {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }

    .top, .bottom-back
    {
      &::after
      {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #ac2b3c;
      }
    }

    .top
    {
      z-index: 3;
      transform-origin: 50% 100%;
      transform: perspective(200px);
    }

    .bottom
    {
      z-index: 1;

      &:before
      {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
      }
    }

    .bottom-back
    {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;
      background-color: #bc3146;

      span
      {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .top, .top-back
    {
      height: 50%;
      overflow: hidden;
      backface-visibility: hidden;
    }

    .top-back
    {
      z-index: 4;
      bottom: 0;
      background-color: #bc3146;
      transform-origin: 50% 0;
      transform: perspective(200px) rotateX(180deg);

      span
      {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Video
  //
  /////////////////////////////////////////////////////

  .block-video
  {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 40vh;
    top: 40vh;

    .video__normal
    {
      width: 300px;
      margin: 50px auto;

      font-family: proxima-excn-regular;
      font-size: 30px;
      color: #ffffff;
      text-align: center;

      .video__icon,
      .video__label
      {
        display: block;
      }
    }

    .video__active
    {
      display: none;

      text-align: center;

      .video__video
      {
        width: 600px;
        height: 338px;
      }
    }
  }

  /////////////////////////////////////////////////////
  //
  //       First section (video+compteur)
  //
  /////////////////////////////////////////////////////
  section.first
  {
    @extend .skew-positive;

    position: relative;
    top: -25px;
    z-index: 3;

    background:
      linear-gradient(rgba(23, 40, 90, .3),rgba(23, 40, 90, .3)),
      url('/sites/all/themes/nrb_televie/img/tele.png') repeat top left / auto,
      url('/sites/all/themes/nrb_televie/img/soiree/branding.jpg') no-repeat center center / cover
    ;
    min-height: 685px;
    height: 90vh;
    overflow: hidden;

    .section__inner
    {
      @extend .skew-negative;
    }

    &::before
    {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 38%;

      background: #2a1d42;
      opacity: .8;
      transform: skewY(-3deg);
    }

    .logo
    {
      margin-top: 40px;

      img
      {
        width: auto;
        height: 150px;
      }
    }


  }

  /////////////////////////////////////////////////////
  //
  //       Second section (giving)
  //
  /////////////////////////////////////////////////////
  section.second
  {
    padding: 70px 0 10px 0;
    background: url('/sites/all/themes/nrb_televie/img/soiree/soutenir.jpg') no-repeat center center / cover;

    position: relative;
    top: -55px;
    z-index: 2;

    color: #ffffff;

    .second__normal
    {
      position: relative;
      display: block;
    }

    .second__active
    {
      position: absolute;
      top: 15px;
      left: 0px;

      display: none;
      width: 170px;
      height: 170px;
      margin: auto;
      padding: 40px 20px;

      background: #ffffff;
      border-radius: 100%;

      color: #902946;
      font-size: 18px;
      font-family: proxima-excn-regular;

      &::after
      {
        content: "";

        position: absolute;
        top: 25px;
        right: 10px;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 25px 0;
        border-color: transparent #ffffff transparent transparent;
      }

      @media (max-width: 525px)
      {

      }
    }

    .second__label
    {
      display: block;
      margin-top: 20px;

      background: #902946;
      border-radius: 8px;
      width: 100%;
      padding: 10px;

      text-transform: uppercase;
      font-size: 24px;
      font-family: "proxima-excn-light";

      strong
      {
        font-family: "proxima-excn-semibold";
      }
    }

    .second__note
    {
      margin-top: 50px;

      font-size: 15px;
      font-family: "proxima-light";
    }

    .second__information
    {
      position: absolute;
      top: 0;
      right: -20px;

      $size: 26px;

      display: block;
      padding: 7px;
      min-width: $size;
      width: $size;
      min-height: $size;
      height: $size;

      background: #ffffff;
      border-radius: 100%;

      color: #902946;
      font-family: proxima-cn-bold;
      font-size: 20px;
      line-height: 14px;

      @media (max-width: 525px)
      {
        right: 0;
      }
    }

    .second__item.-active
    {
      .second__information
      {
        font-family: proxima-regular;
        line-height: 11px;
      }

      .second__active
      {
        display: block;
      }
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Third section (social)
  //
  /////////////////////////////////////////////////////
  section.third
  {
    padding: 100px 0;
    @extend .skew-positive;
    background: #faf7f6 url('/sites/all/themes/nrb_televie/img/tele.png') repeat top left / auto;

    position: relative;
    top: -50px;
    z-index: 0;

    color: #dc3a4d;

    .section__inner
    {
      @extend .skew-negative;
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Fourth section (acting)
  //
  /////////////////////////////////////////////////////
  section.fourth
  {
    @extend .skew-positive;


    padding: 70px 0;
    background: #f9fafa;

    position: relative;
    top: -70px;

    color: #4a4756;

    .section__inner
    {
      @extend .skew-negative;
    }

    .fourth__label
    {
      font-size: 28px;
      font-family: "proxima-excn-semibold";
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Fifth section (fiscal declaration)
  //
  /////////////////////////////////////////////////////
  section.fifth
  {
    position: relative;
    top: -70px;
    width: 100%;

    margin-bottom: -70px;
    padding: 50px 0;
    background: #dc3a4d;

    &::before,
    &::after
    {
      content: "";

      position: absolute;
      left: 0%;
      top: -10px;

      background: #dc3a4d;
      height: 100px;
      width: 50%;
    }

    &::before
    {
      @extend .skew-positive;
    }

    &::after
    {
      right: 0%;
      left: auto;

      @extend .skew-negative;
    }

    .section__inner
    {
      position: relative;
      z-index: 2;
    }

    .btn
    {
      display: inline-block;

      background: #902946;
      border-radius: 10px;
      padding: 10px 30px;

      color: #ffffff;
      font-family: "proxima-excn-light";
      font-size: 24px;
      text-transform: uppercase;
      text-align: left;

      strong
      {
        font-family: "proxima-excn-semibold";
      }

      &::after
      {
        content: '>';
        font-family: 'symbolesnrbregular';
        font-size: 16px;

        padding-left: 30px;
      }
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Footer
  //
  /////////////////////////////////////////////////////
  #footer
  {
    margin-top: 0 !important;
  }
}
