// Reset
.page-404
{
  .basic-page
  {
    display: none;

    &::before,
    &::after
    {
      content: none;
    }
  }

  .node-page
  {
    width: 100%;
    max-width: initial;
  }
}
body .page-404 + #footer
{
  margin-top: 0;
}

// Page 404
.page-404
{
  .first
  {
    position: relative;
    background: url("/sites/all/themes/nrb_televie/img/404/bg01.jpg");
    background-size: 100% auto;
    background-position: left;
    height: 557px;
    margin-top: -30px;
    margin-bottom: 30px;

    text-align: center;

    box-shadow: 0 0 9px rgba(0, 0, 0, .35);
    z-index: 1;

    &::after
    {
      content: "";

      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      background: url("/sites/all/themes/nrb_televie/img/tele.png");
    }

    .heading1,
    .heading2
    {
      max-width: 600px;
      margin: 0 auto;
      padding: 0;

      font-family: 'proxima-excn-regular';
    }

    .heading1
    {
      font-size: 90px;

      padding-top: 145px;
      line-height: 90px;
    }
    .heading2
    {
      font-size: 60px;
      line-height: 60px;
    }
  }


  .second
  {
    position: relative;
    background: url("/sites/all/themes/nrb_televie/img/404/bg02.jpg");
    background-size: cover;
    background-position: left;

    margin-top: -60px;
    padding-top: 60px;
    z-index: 0;


    .heading
    {
      font-size: 40px;
      color: #ffffff;
      font-family: 'proxima-excn-light';

      strong
      {
        font-family: 'proxima-excn-semibold';
      }
    }

    .link-help
    {
      display: inline-block;
      margin: 30px 0 100px 0;
      text-decoration: none;

      &:hover
      {
        .visu
        {
          background: #ffffff;
        }
      }

      .visu
      {
        width: 170px;
        min-width: 170px;
        height: 170px;
        min-height: 170px;

        border-radius: 100%;
        box-sizing: border-box;

        box-shadow: 0px 0px 0px 2px #ffffff;
        border: 10px solid transparent;
        background: transparent;
        transition: background .3s;

        img
        {
          background: #fff;
          border-radius: 100%;
          padding: 35px 31px 25px 30px;

          margin: 0 auto;
        }
      }

      .title
      {
        font-size: 40px;
        color: #ffffff;
        font-family: 'proxima-excn-light';
      }
    }

    .link
    {
      position: relative;
      display: inline-block;

      padding: 12px 22px 12px 44px;
      background: #902946;
      border-radius: 10px;
      margin-bottom: 30px;

      font-family: 'proxima-excn-light';
      color: #ffffff;
      text-transform: uppercase;
      font-size: 24px;
      text-decoration: none;

      &::before
      {
        content: "<";
        position: absolute;
        font-family: 'symbolesnrbregular';

        left: 15px;
        top: 16px;
      }
    }


  }

}
