#aujourlejour .wrapper {
  width: 870px;
}

#aujourlejour .aujourlejour-highlight-content .wrapper {
  width: 100%;
  max-width: 1400px;
  text-align: center;
}

#aujourlejour .aujourlejour-header {
  background: url(../img/aujourlejour/bg.jpg) no-repeat fixed center;
  background-size: cover;
  width: 100%;
  position: relative;
  top: -30px;
  padding-bottom: 80px;
  z-index: 1;
  -moz-transform: skewX(0deg) skewY(-1.5deg);
  -webkit-transform: skewX(0deg) skewY(-1.5deg);
  -o-transform: skewX(0deg) skewY(-1.5deg);
  -ms-transform: skewX(0deg) skewY(-1.5deg);
  transform: skewX(0deg) skewY(-1.5deg);
}

#aujourlejour .aujourlejour-header .aujourlejour-header-content,
#aujourlejour .aujourlejour-header .aujourlejour-highlight-content {
  -moz-transform: skewX(0deg) skewY(1.5deg);
  -webkit-transform: skewX(0deg) skewY(1.5deg);
  -o-transform: skewX(0deg) skewY(1.5deg);
  -ms-transform: skewX(0deg) skewY(1.5deg);
  transform: skewX(0deg) skewY(1.5deg);
}

#aujourlejour .aujourlejour-header h2 {
  font-size: 42px;
  padding-top: 80px;
  font-family: proxima-excn-semibold;
}

#aujourlejour .aujourlejour-header h3 {
  font-size: 2.8em;
  margin: 0 0 30px 0;
  font-family: proxima-excn-thin;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row {
  display: inline-block;
  position: relative;
  margin: 5px;
  text-align: left;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a {
  display: block;
  overflow: hidden;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(-n+2) {
  width: 48%;
  height: 410px;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(n+3) {
  width: 23.5%;
  height: 210px;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(6) {}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a span {
  display: block;
  font-size: 1.1em;
  overflow: hidden;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(-n+2) a span.date {
  font-family: proxima-bold;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(n+3) a span.date {
  font-size: 0.7em;
  font-family: proxima-bold;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a span.desc {
  font-size: 0.9em;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .part2 {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  color: white;
  display: block;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .part2 {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  top: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  z-index: 2;
}

.IE9 #aujourlejour .aujourlejour-header .aujourlejour-highlight a .part2 {
  display: none;
  z-index: 1;
}

.IE9 #aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .part2 {
  display: none;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a span.part1 {
  display: table;
}

.IE9 #aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a span.part1 {
  display: block;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .part1 {
  color: white;
  position: absolute;
  bottom: 0px;
  height: 115px;
  width: 100%;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#94909a+0,332d42+100 */
  background: rgb(148, 144, 154);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(148, 144, 154, 0.5) 0%, rgba(51, 45, 66, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(148, 144, 154, 0.5) 0%, rgba(51, 45, 66, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(148, 144, 154, 0.5) 0%, rgba(51, 45, 66, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94909a', endColorstr='#332d42', GradientType=0);
  /* IE6-9 */
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .part1 {
  background: rgba(50, 44, 65, 0.0);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.IE9 #aujourlejour .aujourlejour-header .aujourlejour-highlight a .part1 {
  display: none;
  filter: none;
}

.IE9 #aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .part1 {
  display: block;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a .part1 .title {
  height: 100%;
  font-size: 1.2em;
  display: table;
  font-family: proxima-excn-light;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(-n+2) a .part1 .title {
  font-size: 2em;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a .part2 .content .title {
  font-size: 1.2em;
  font-family: proxima-excn-light;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(-n+2) a .part2 .content .title {
  font-size: 2em;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .part1 .title {
  display: none;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .ecran-noir {
  background: rgba(0, 0, 0, 0.0);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .ecran-noir {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  z-index: 1;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .visu img {
  min-width: 100%;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(-n+2) a .visu {
  height: 410px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(n+3) a .visu {
  height: 210px;
  overflow: hidden;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(-n+2) a .visu img {
  min-height: 410px;
  width: auto;
  position: absolute;
  max-width: 700px;
  position: absolute;
  left: 0;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(n+3) a .visu img {
  min-height: 210px;
  width: auto;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .part2 .content {
  margin: 4% auto 6%;
  width: 80%;
  height: 80%;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .title {
  font-size: 1.4em;
  display: table;
  width: 100%;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.IE9 #aujourlejour .aujourlejour-header .aujourlejour-highlight a .title {
  display: block;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .title {
  width: 90%;
  display: block;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .title .content-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}

.IE9 #aujourlejour .aujourlejour-header .aujourlejour-highlight a .title .content-wrapper {
  display: block;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .date,
#aujourlejour .aujourlejour-header .aujourlejour-highlight a .desc {
  width: 82%;
  padding: 7px 20px;
  font-size: 1.2em;
  display: block;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .date,
#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .desc {
  display: block;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row:nth-child(n+3) a .desc {
  display: none;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a span.fleche {
  font-family: symbolesnrbregular;
  color: white;
  display: none;
  font-size: 1.8em;
  position: absolute;
  bottom: 11%;
  right: 11%;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight .views-row a:hover span.fleche {
  display: block;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a .carre {
  width: 86%;
  height: 86%;
  top: 7%;
  left: 7%;
  position: absolute;
  display: none;
  border: 2px solid white;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:hover .carre {
  display: block;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:nth-child(n+3) .part2 .content {
  padding: 0 10px;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:nth-child(n+3) .date {
  padding: 0 20px;
  margin: 0;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:nth-child(n+3) .desc {
  display: none;
}

#aujourlejour .aujourlejour-header .aujourlejour-highlight a:nth-child(n+3) .part1 {
  height: 80px;
  top: 130px;
}

.page-au-jour-le-jour #block-views-citations-block {
  min-height: 250px;
  background: url(../img/aujourlejour/bg.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
  top: -125px;
  z-index: 0;
  -moz-transform: skewX(0deg) skewY(0.5deg);
  -webkit-transform: skewX(0deg) skewY(0.5deg);
  -o-transform: skewX(0deg) skewY(0.5deg);
  -ms-transform: skewX(0deg) skewY(0.5deg);
  transform: skewX(0deg) skewY(0.5deg);
}

.page-au-jour-le-jour #block-views-citations-block>.content {
  min-height: 250px;
  background: rgba(220, 58, 77, 0.85);
  padding: 40px 0;
}

.page-au-jour-le-jour #block-views-citations-block>.content .view-citations {
  padding-top: 100px;
  color: white;
  -moz-transform: skewX(0deg) skewY(-0.5deg);
  -webkit-transform: skewX(0deg) skewY(-0.5deg);
  -o-transform: skewX(0deg) skewY(-0.5deg);
  -ms-transform: skewX(0deg) skewY(-0.5deg);
  transform: skewX(0deg) skewY(-0.5deg);
}

.aujourlejour-citation .aujourlejour-citation-content .visu {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.aujourlejour-citation .aujourlejour-citation-content .content {
  width: 85%;
  padding-left: 20px;
}

.aujourlejour-citation .aujourlejour-citation-content .cita {
  font-size: 2.5em;
  margin-bottom: 15px;
  font-family: proxima-excn-light;
}

.aujourlejour-citation .aujourlejour-citation-content .title {
  font-size: 2em;
  font-family: proxima-excn-light;
}

.aujourlejour-result .masonry-item.views-row-odd {
  height: 310px;
}

.aujourlejour-result .masonry-item.views-row-even {
  height: 230px;
}

.aujourlejour-result .masonry-item {
  width: 220px;
  height: 310px;
  border: 2px solid transparent;
  float: left;
  overflow: hidden;
}

.aujourlejour-result .masonry-item.views-row-even {
  height: 230px;
}

.aujourlejour-result {
  width: 970px;
  margin: auto;
}

.aujourlejour-result .masonry-item a {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.aujourlejour-result .masonry-item a span {
  display: block;
}

.aujourlejour-result .masonry-item a .visu {
  height: 310px;
  overflow: hidden;
  box-sizing: border-box;
}

.aujourlejour-result .masonry-item.views-row-even a .visu {
  height: 230px;
}

.aujourlejour-result .masonry-item a .visu img {
  width: auto;
}

.aujourlejour-result .masonry-item a .desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#94909a+0,332d42+100 */
  background: rgb(148, 144, 154);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(148, 144, 154, 0.5) 0%, rgba(51, 45, 66, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(148, 144, 154, 0.5) 0%, rgba(51, 45, 66, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(148, 144, 154, 0.5) 0%, rgba(51, 45, 66, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94909a', endColorstr='#332d42', GradientType=0);
  /* IE6-9 */
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.aujourlejour-result .masonry-item a:hover .desc {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.aujourlejour-result .masonry-item a .desc span {
  display: block;
}

.aujourlejour-result .masonry-item a .desc .title {
  font-size: 1.5em;
  padding: 15px 8px 8px 8px;
  color: white;
  font-family: 'proxima-excn-semibold';
}

.aujourlejour-result .masonry-item a .desc .date,
#agenda .agenda-result .masonery-item a .desc .lieu {}

.aujourlejour-result .masonry-item a .desc .date {
  padding: 0 8px;
  display: none;
}

.aujourlejour-result .masonry-item a .desc .lieu {
  padding: 0 8px 8px;
}

.aujourlejour-result .masonry-item a .ecran-noir {
  background: rgba(0, 0, 0, 0.0);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.aujourlejour-result .masonry-item a:hover .ecran-noir {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.aujourlejour-result .masonry-item a .desc-total {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.aujourlejour-result .masonry-item a .desc-fleche {
  opacity: 0;
  position: relative;
  display: table-row;
  width: 100%;
  height: 100%;
  font-family: 'symbolesnrbregular';
  color: white;
  font-size: 3.8em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.aujourlejour-result .masonry-item a:hover .desc-fleche {
  opacity: 1;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.aujourlejour-result .masonry-item a .desc-fleche-1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.aujourlejour-result .masonry-item a:hover .desc-fleche-1 {
  display: table-cell;
}
