.soiree
{
  // Cleanup of global code
  .basic-page
  {
    display: none;

    &::before,
    &::after
    {
      content: none;
    }
  }

  .node-page
  {
    max-width: none;
    width: auto;

    &::before,
    &::after
    {
      content: none;
    }
  }

  *
  {
    box-sizing: border-box;
  }

  a
  {
    color: inherit;
    text-decoration: none;
  }

  .section__inner
  {
    position: relative;

    max-width: 960px;
    margin: auto;

    text-align: center;

    h1
    {
      font-size: 60px;
      font-family: "proxima-excn-light";
      color: currentColor;

      margin-bottom: 70px 0 10px 0;

      strong
      {
        font-family: "proxima-excn-semibold";
      }
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Components
  //
  /////////////////////////////////////////////////////
  .options
  {
    display: flex;
    justify-content: space-between;

    .item
    {
      .circle
      {
        position: relative;

        display: block;
        width: 170px;
        height: 170px;
        margin: auto;

        background: transparent;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 2px currentColor;

        // background
        &::before
        {
          content: "";

          position: absolute;
          top: 10px;
          left: 10px;

          width: calc(100% - 20px);
          height: calc(100% - 20px);

          background: currentColor;
          border-radius: 100%;
        }

        img
        {
          position: relative;
          top: 25%;

          width: 50%;
          height: 50%;
        }

        &.-s
        {
          width: 135px;
          height: 135px;
        }

        &.-l
        {
          width: 210px;
          height: 210px;
        }
      }
    }
  }


  /////////////////////////////////////////////////////
  //
  //       Compteur
  //
  /////////////////////////////////////////////////////
  .block-compteur
  {
    display: none;
  }

  /////////////////////////////////////////////////////
  //
  //       First section (video+compteur)
  //
  /////////////////////////////////////////////////////
  .first
  {
    @extend .skew-positive;

    position: relative;
    top: -15px;

    background:
      url('/sites/all/themes/nrb_televie/img/tele.png') repeat top left / auto,
      url('/sites/all/themes/nrb_televie/img/soiree/branding.jpg') no-repeat center center / cover
    ;
    min-height: 80vh;
    height: 100%;
    overflow: hidden;

    .section__inner
    {
      @extend .skew-negative;
    }

    &::before
    {
      @extend .skew-negative;
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 36%;

      background: #2a1d42;
      opacity: .8;
    }

    .logo
    {
      margin-top: 50px;

      img
      {
        width: auto;
        height: 150px;
      }
    }


  }

  /////////////////////////////////////////////////////
  //
  //       Second section (giving)
  //
  /////////////////////////////////////////////////////
  .second
  {
    padding: 70px 0 10px 0;
    background: url('/sites/all/themes/nrb_televie/img/soiree/soutenir.jpg') no-repeat center center / cover;

    position: relative;
    top: -35px;
    z-index: 2;

    color: #ffffff;

    .second__label
    {
      display: block;
      margin-top: 20px;

      background: #902946;
      border-radius: 8px;
      width: 100%;
      padding: 10px;

      text-transform: uppercase;
      font-size: 24px;
      font-family: "proxima-excn-light";

      strong
      {
        font-family: "proxima-excn-semibold";
      }
    }

    .second__note
    {
      margin-top: 50px;

      font-size: 15px;
      font-family: "proxima-light";
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Third section (social)
  //
  /////////////////////////////////////////////////////
  .third
  {
    padding: 100px 0;
    @extend .skew-positive;
    background: #faf7f6 url('/sites/all/themes/nrb_televie/img/tele.png') repeat top left / auto;

    position: relative;
    top: -50px;
    z-index: 0;

    color: #dc3a4d;

    .section__inner
    {
      @extend .skew-negative;
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Fourth section (acting)
  //
  /////////////////////////////////////////////////////
  .fourth
  {
    @extend .skew-positive;


    padding: 70px 0;
    background: #f9fafa;

    position: relative;
    top: -70px;

    color: #4a4756;

    .section__inner
    {
      @extend .skew-negative;
    }

    .fourth__label
    {
      font-size: 28px;
      font-family: "proxima-excn-semibold";
    }
  }

  /////////////////////////////////////////////////////
  //
  //       Fifth section (fiscal declaration)
  //
  /////////////////////////////////////////////////////
  .fifth
  {
    position: relative;
    top: -70px;
    width: 100%;

    padding: 50px 0;
    background: #dc3a4d;

    &::before,
    &::after
    {
      content: "";

      position: absolute;
      left: 0%;
      top: -10px;

      background: #dc3a4d;
      height: 100px;
      width: 50%;
    }

    &::before
    {
      @extend .skew-positive;
    }

    &::after
    {
      right: 0%;
      left: auto;

      @extend .skew-negative;
    }

    .section__inner
    {
      position: relative;
      z-index: 2;
    }

    .btn
    {
      display: inline-block;

      background: #902946;
      border-radius: 10px;
      padding: 10px 30px;

      color: #ffffff;
      font-family: "proxima-excn-light";
      font-size: 24px;
      text-transform: uppercase;
      text-align: left;

      strong
      {
        font-family: "proxima-excn-semibold";
      }

      &::after
      {
        content: '>';
        font-family: 'symbolesnrbregular';
        font-size: 16px;

        padding-left: 30px;
      }
    }
  }
}
